Package: libvirt-login-shell-dbgsym
Source: libvirt
Version: 7.0.0-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 56
Depends: libvirt-login-shell (= 7.0.0-3)
Section: debug
Priority: optional
Description: debug symbols for libvirt-login-shell
Build-Ids: 11813ad16bd6589a2ff5602df7fe21997a51b9f4 8a0bbb495d182c49eeaad0b058441ecffa4249c2
