Package: libvirt-daemon-driver-storage-iscsi-direct
Source: libvirt
Version: 7.0.0-3
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 106
Depends: libvirt-daemon (= 7.0.0-3), libvirt0 (= 7.0.0-3), libc6 (>= 2.4), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.24.0), libiscsi7 (>= 1.18.0)
Recommends: qemu-block-extra
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: Virtualization daemon iSCSI (libiscsi) storage driver
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
 .
 This package contains a libvirtd storage driver for iSCSI volumes implemented
 using libiscsi.
