Package: libvirt-daemon-driver-storage-rbd-dbgsym
Source: libvirt
Version: 7.0.0-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 80
Depends: libvirt-daemon-driver-storage-rbd (= 7.0.0-3)
Section: debug
Priority: optional
Description: debug symbols for libvirt-daemon-driver-storage-rbd
Build-Ids: f774afcae461c593a6582f571163f4012e61fdbd
