Package: libvirt-wireshark
Source: libvirt
Version: 7.0.0-3
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 887
Depends: libc6 (>= 2.4), libglib2.0-0t64 (>= 2.12.0), libtirpc3t64 (>= 1.0.2), libwireshark18 (>= 3.5.0), libwsutil16 (>= 3.5.0)
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: Wireshark dissector for the libvirt protocol
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
 .
 This package contains the wireshark dissector.
