Package: libnss-libvirt
Source: libvirt
Version: 7.0.0-3
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 73
Depends: libvirt0 (= 7.0.0-3), libc6 (>= 2.14), libyajl2 (>= 2.0.4)
Section: admin
Priority: optional
Multi-Arch: same
Homepage: https://libvirt.org/
Description: nss plugins providing IP address resolution for virtual machines
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
 .
 This package contains two nss plugins for IP address resolution of libvirt
 managed virtual machines: the 'libvirt_guest' plugin uses libvirt's domain
 names while the 'libvirt' plugin looks at the guest's hostname.
