Package: libvirt-daemon-driver-vbox-dbgsym
Source: libvirt
Version: 7.0.0-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 476
Depends: libvirt-daemon-driver-vbox (= 7.0.0-3)
Section: debug
Priority: optional
Description: debug symbols for libvirt-daemon-driver-vbox
Build-Ids: 2b784f53485b1523c5b7f6c220240d6d2942514d
