Package: libvirt-daemon-config-nwfilter
Source: libvirt
Version: 7.0.0-3
Architecture: all
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 63
Breaks: libvirt-daemon-system (<< 6.9.0-2~)
Replaces: libvirt-daemon-system (<< 6.9.0-2~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: Libvirt daemon configuration files (default network filters)
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
 .
 This package contains the configuration for the default set of nwfilters.
