/tmp/
/.debhelper/
/files
/*.substvars
/*.debhelper.log
/debhelper-build-stamp
/autoreconf.*
/libvirt-clients/
/libvirt-login-shell/
/libvirt-daemon/
/libvirt-daemon-driver-qemu/
/libvirt-daemon-driver-lxc/
/libvirt-daemon-driver-vbox/
/libvirt-daemon-driver-xen/
/libvirt-daemon-driver-storage-gluster/
/libvirt-daemon-driver-storage-iscsi-direct/
/libvirt-daemon-driver-storage-rbd/
/libvirt-daemon-driver-storage-zfs/
/libvirt-daemon-system/
/libvirt-daemon-system-systemd/
/libvirt-daemon-system-sysv/
/libvirt-daemon-config-network/
/libvirt-daemon-config-nwfilter/
/libvirt0/
/libvirt-doc/
/libvirt-dev/
/libvirt-sanlock/
/libnss-libvirt/
/libvirt-wireshark/
