Package: libvirt-daemon-driver-storage-zfs-dbgsym
Source: libvirt
Version: 7.0.0-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 42
Depends: libvirt-daemon-driver-storage-zfs (= 7.0.0-3)
Section: debug
Priority: optional
Description: debug symbols for libvirt-daemon-driver-storage-zfs
Build-Ids: 5db556028c82695702123166800083814e1723ad
