Package: libvirt-daemon-driver-qemu
Source: libvirt
Version: 7.0.0-3
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 2004
Depends: libvirt0 (= 7.0.0-3), libc6 (>= 2.38), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.44.0), libgnutls30t64 (>= 3.7.0), libselinux1 (>= 3.1~), libxml2 (>= 2.9.2+really2.9.1+dfsg1-0.2)
Breaks: libvirt-clients (<< 6.9.0-2~), libvirt-daemon (<< 6.0.0-1~)
Replaces: libvirt-clients (<< 6.9.0-2~), libvirt-daemon (<< 6.0.0-1~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: Virtualization daemon QEMU connection driver
 Libvirt is a C toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, XEN, OpenVZ, LXC, and VirtualBox.
 .
 This package contains the libvirtd connection driver for QEMU.
