Package: libvirt-daemon-driver-storage-iscsi-direct-dbgsym
Source: libvirt
Version: 7.0.0-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 70
Depends: libvirt-daemon-driver-storage-iscsi-direct (= 7.0.0-3)
Section: debug
Priority: optional
Description: debug symbols for libvirt-daemon-driver-storage-iscsi-direct
Build-Ids: 3e6cec3a39b808861dd7cc4a76b9b6dd19fc3337
